html {
  font-family: 'Arial';
  text-align: center;
  scroll-behavior: smooth;
  overflow-y: scroll; 
}

p {
  font-size: 16px;
}

/* Navigation */
.navigation {
  margin: 50px 0px 50px 0px;
}

.navigation a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  padding: 15px;
}

.navigation a:active {
  color: red;
}

.navigation a:hover {
  text-decoration: underline;
  color: #DAA520;
}

a.link{
  color: #DAA520;
  font-size: 18px;
  text-decoration: none;
}

/* --- Home Page --- */
/* Home Image */
.homeImg {
  width: 50%;
  display: inline block;
}

/* Home About */
.homeContainer {
  padding-top: 25px;
  padding-bottom: 70px;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}

.homeContainer span {
  color: #DAA520;
}

.homeContainer h1 {
  font-size: 40px;
}

/* Home Button */
.homeBtn {
  border: 1px solid gray;
  border-radius: 20px;
  padding: 7px 20px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background: none;
}

.homeBtn:hover {
  color: #DAA520;
  border-color: #DAA520;
}

/* Services */
.services {
  display: inline-block;
  margin: 30px 0px 100px 0px;
}

/* .services p, h4{
	text-align:left;
	line-height: 20%;
} */
/* --- About Page --- */
.aboutBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 10rem;
}

/* About Image */
.aboutImg {
  width: 500px;
}

/* About Text */
.aboutTxt {
  line-height: 150%;
  margin: 1rem 10rem;
  text-align: left;
}

/* --- Portfolio Page --- */
/* Portfolio Images */
.portfolioImgs {
  width: 80%;
}

.portfolioText {
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  text-align: center;
  justify-content: center;
}

.portfolioText h3 {
  font-style: italic;
  font-weight: 300;
}

.portfolioText h4 {
  font-weight: 800;
  font-size: larger;
}

/* --- Footer --- */
/* Social Media Links */


.connect{
  margin-top: 2rem;
}

.connect a {
  color: #DAA520;
  font-size: 18px;
  text-decoration: none;
  padding: 1.5rem;
}

.connect a:hover {
  text-decoration: underline;
}

/* Built by me ;) */
footer {
  text-align: center;
  color: gray;
  font-size: 15px;
  font-style: italic;
  padding: .5rem;
}

/*Scroll To Top Button*/

.scrollToTopBtn {
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  line-height: 48px;
  width: 48px;

  /* place it at the bottom right corner */
  position: fixed;
  bottom: 20px;
  right: 20px;
  /* keep it at the top of everything else */
  z-index: 100;
  /* hide with opacity */
  opacity: 0;
  /* also add a translate effect */
  transform: translateY(100px);
  /* and a transition */
  transition: all 0.5s ease;
}

.showBtn {
  opacity: 1;
  transform: translateY(0);
}

/* --- Breakpoints --- */

/*Big Daddy Screens*/
@media screen and (min-width: 1800px) {
  
  .homeImg {
    width: 45%;
  }

  .aboutBox {
    margin: 8rem 10rem;
  }

  .portfolioImgs {
    width: 70%;
  }
}

/*Flexbox on About Page for mid sized screens*/
@media only screen and (max-width: 1400px) {
  .aboutBox {
    flex-wrap: wrap;
  }
}

/*Ductape on portfolio list for mid sized screens*/
@media only screen and (min-width: 800px) and (max-width: 1400px) {
  .portfolioText p{
    left: 20%
  }
}


/* Extra small devices (phones, 800px and down) */
@media only screen and (max-width: 800px) {
  .navigation a {
    font-size: 1.5rem;
  }

  .aboutBox {
    flex-wrap: wrap;
    margin: 1rem 1rem;
  }

  .aboutTxt {
    margin: 2rem 0;
    text-align: left;
    line-height: 150%;
    font-size: 20px;
  }

  .portfolioImgs, .aboutImg, .homeImg {
    width: 100%;
  }
  
  .portfolioText h3 {
    width: 95%;
    margin: 0 auto;
  }

  .portfolioText p{
    font-size: .9rem;
  }

  .scrollToTopBtn{
    display: none;
  }

  footer{
    margin-top: 5rem;
  }
}
